direct==1.0.1
evdev==1.6.1
geopandas==0.12.2
gltf==0.7.19
gym==0.19.0
hydra-core==1.3.1
lxml==4.9.2
matplotlib==3.6.3
memory_profiler==0.61.0
numpy==1.21.6
opencv_python==4.7.0.68
osmnx==1.3.0
panda3d==1.10.8
panda3d_gltf==0.13
panda3d_simplepbr==0.10
Pillow==9.4.0
protobuf==4.22.0
psutil==5.9.4
pygame==2.1.2
pyrosm==0.6.1
pytest==7.2.1
ray==2.2.0
scipy==1.7.1
seaborn==0.11.2
setuptools==65.6.3
Shapely==2.0.1
tensorflow==2.8.0
torch~=1.13.1
tqdm==4.64.1
